@mixin flexible() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin deafultBorder($width: 2px) {
  border: $width solid #000;
  border-radius: 20px;
}
@mixin bodyFont() {
  font-family: "Poppins", sans-serif;
}
@mixin headerFont() {
  font-family: "Montserrat", sans-serif;
}
